:root {
    --cor-fundo-site: #d2d2c1;
    --fonte-site: 16px
    --font-family-site: Arial, Helvetica, sans-serif;
    --cor-fundo-menu: #c5c5b2;
    --cor-do-texto-menu: #4b566a;
    --font-family-site: Arial, Helvetica, sans-serif;
}
